body {
background: linear-gradient(90deg, blue, purple);
}

h1 {
text-align: center;
text-decoration: underline;
font-style: bold;
font-family: cursive;
}

h2 {
text-align: center;
text-decoration: underline;
font-style: bold;
font-family: cursive;
}